/* Fonts */

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
  }

/* Colors */

:root {
    --color-brand-dark: #465929;
    --color-brand-light: #819B57;
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-copyright: #A18268;
}

/* Base */

html {
    background-color: grey; /*tempo*/
}

body {
    margin: 0;
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 p {
    margin-top: 0;
}

address {
font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding: 48px 0;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Button */

.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 600;
    line-height: 1.5;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    font-weight: 600;
    background-color: transparent;
}

/* Link */

.link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: var(--color-brand-light);
}
/* Header */

.header-container {
display: flex;
gap: 40px;
align-items: center;
}

.header-nav {
display: flex;
gap: 40px;
align-items: center;
flex-grow: 1;
}

.header-menu {
display: flex;
gap: 64px;
flex-grow: 1;
justify-content: center;
}


/* Hero section */

.hero-title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-weight: 900;
    font-size: 128px;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

.hero-section {
   padding: 272px 0; 
}

/*  Advantage section */

.advantages-list {
display: flex;
justify-content: space-between;
gap: 10px;   
}

.advantages-item {
font-size: 20px;
font-weight: 300;
color: var(--color-primary-light); 
}

.advantages-section {
padding: 16px 0;
background-color: var(--color-brand-light);
}

/* Section title */

.section-title {
    color: var(--color-primary-dark);
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
    font-weight: 600;
}

/* Format section */

.format-title {
    color: var(--color-primary-light);
    font-weight: 600;
    font-size: 24px;
}

.format-text {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 14px;
}

.formats-title {
    margin-bottom: 80px;
}

.format-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    border: 1px solid lightgrey; /*remove*/
    border-radius: 16px;
    flex-wrap: wrap;
}

.formats-item {
    flex-basis: calc((100% / 3)-40px);
}

.formats-list {
    display: flex;
    gap: 20px;
}

/* Paragraph section */

.accent {
    color: var(--color-brand-dark);
}

/* Tradition section */

.uppercase-accent {
    color: var(--color-brand-dark);
    text-transform: uppercase;
}

.traditions-section {
    padding-top: 96px;
}

.traditions-container {
    display: flex;
    justify-content: space-between;
    }

.traditions-title {
    margin-bottom: 42px;
}

.tradition-text.limited {
    max-width: 300px;
}

.traditions-content {
    max-width: 710px;
}

/* Navigation section */

/* Chefs section */

.chef-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 40px;
}

.chefs-title {
    margin-bottom: 80px;
}

/* Contact section */

.contact-title {
    margin-bottom: 16px;
}

.maps {
    width: 100%;
    max-width: 603px;
}

/* Footer */

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-light);
    font-size: 16px;
    font-weight: 300;  
}

.address-copyright {
    color: var(--color-copyright);
    font-size: 14px;
}